@model SPCS.ViewModel.TeamVM

<h2>Create Team</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>

<a asp-action="Index">Back to List</a>
