@model SPCS.ViewModel.SupervisorCreateVM

<h2>Create Supervisor</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamId"></label>
        <select asp-for="TeamId" class="form-control" asp-items="@(new SelectList(ViewBag.Teams, "Id", "Name"))"></select>
        <span asp-validation-for="TeamId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>

<a asp-action="Index">Back to List</a>
